[data-theme='light'] {
  --body-background-color: #fff;

  --default-text-color: #161616;

  --header-bg-color: #fff;
  --header-text-color: #161616;
  --header-menu-hover-bg-color: #f1f3f4;
  --header-border-color: rgba(0, 0, 0, 0.05);

  --footer-border-color: rgba(0, 0, 0, 0.05);

  --post-card-image-border-color: hsl(230 25% 94%);
  --post-card-image-dim-color: #000;
  --post-card-description-color: rgb(48 58 62);

  --post-hr-color: #3b4049;
  --post-image-cradit-text-color: #768086;

  --tag-background--color: #f5f5f5;

  --markdown-font-color: #060b11;
}
[data-theme='dark'] {
  --body-background-color: #191c1e;

  --default-text-color: #fff;

  --header-bg-color: #191c1e;
  --header-text-color: #fff;
  --header-menu-hover-bg-color: #303135;
  --header-border-color: rgba(255, 255, 255, 0.05);

  --footer-border-color: rgba(255, 255, 255, 0.05);

  --post-card-image-border-color: hsl(230 6% 23%);
  --post-card-image-dim-color: #fff;
  --post-card-description-color: #768086;

  --post-hr-color: #e4eaed;
  --post-image-cradit-text-color: #768086;

  --tag-background--color: #282b31;

  --markdown-font-color: rgba(255, 255, 255, 0.8);
}
